.items{
    background-color: black;
    border: 1px solid #535353;
}
.previous{
    background-color: black;
    color: #fff;
}
table, tr, thead, tbody, td, th{
    background: none;
    color: #fff;
}