
<form (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="title">Title</label>
    <input type="text" class="form-control" id="title" required [(ngModel)]="product.title" name="title">
    <div *ngIf="!product.title" class="invalid-feedback">Title is required.</div>
  </div>

  <div class="form-group">
    <label for="description">Description</label>
    <textarea class="form-control" id="description" required [(ngModel)]="product.description" name="description"></textarea>
    <div *ngIf="!product.description" class="invalid-feedback">Description is required.</div>
  </div>

  <div class="form-group">
    <label for="category">Category</label>
    <select class="form-control" [(ngModel)]="product.productCategory.id" name="category">
      <option *ngFor="let category of categories" [value]="category.id">{{ category.category }}</option>
    </select>
    <div *ngIf="!product.productCategory.id" class="invalid-feedback">Category is required.</div>
  </div>

  <div class="form-group">
    <label for="offer">Offer</label>
    <select class="form-control" [(ngModel)]="product.offer.id" name="offer">
      <option *ngFor="let offer of offers" [value]="offer.id">{{ offer.title }}</option>
    </select>
  </div>

  <div class="form-group">
    <label for="price">Price</label>
    <input type="number" class="form-control" id="price" required [(ngModel)]="product.price" name="price">
    <div *ngIf="!product.price" class="invalid-feedback">Price is required.</div>
  </div>

  <div class="form-group">
    <label for="quantity">Quantity</label>
    <input type="number" class="form-control" id="quantity" required [(ngModel)]="product.quantity" name="quantity">
    <div *ngIf="!product.quantity" class="invalid-feedback">Quantity is required.</div>
  </div>

  <div class="form-group">
    <label for="image">Image URL</label>
    <input type="text" class="form-control" id="image" [(ngModel)]="product.imageName" name="image">
    <div *ngIf="!product.imageName" class="invalid-feedback">Image URL is required.</div>
    <img *ngIf="product.imageName" [src]="product.imageName" class="img-fluid mt-2" alt="Selected Image">
  </div>

  <br>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>




<!-- Table to display added products -->
<table class="table mt-4">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Description</th>
      <th scope="col">Price</th>
      <th scope="col">Quantity</th>
      <th scope="col">Image</th>
      <th scope="col">Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let addedProduct of addedProducts">
      <td>{{ addedProduct.title }}</td>
      <td>{{ addedProduct.description }}</td>
      <td>{{ addedProduct.price }}</td>
      <td>{{ addedProduct.quantity }}</td>
      <td>
        <img [src]="addedProduct.imageName" alt="{{ addedProduct.title }}" class="img-thumbnail" style="max-height: 100px; max-width: 100px;">
      </td>
      <td>
        <button class="btn btn-danger btn-sm" (click)="deleteProduct(addedProduct.id)">Delete</button>
      </td>
      <td>
        <button class="btn btn-success btn-sm" (click)="editProduct(addedProduct.id)">Edit</button>
      </td>

    </tr>
  </tbody>
</table>
