<div class="banner">
  <div class="row">
    <div class="col-8">
      <h1>buy electronic <br>gadgets<br> at affordable price</h1>
      <p class="paragraph">Celebrate innovation every day with our curated collection of cutting-edge electronics, where
        every gadget is a gateway to a world of possibilities. Elevate your tech game and embark on a journey of
        discovery with us.</p>
      <button type="button" class="btn btn-outline-light btn-lg" routerLink="/randomProducts">Shop Now</button>
    </div>
    <div class="col-4"> <img class="bannerImg" src="./assets/Images/home1.png" alt=""></div>
  </div>
</div>
<section>
  <div class="welcome-container">
    <h2 class="welcome">
      <span>w</span>
      <span>e</span>
      <span>l</span>
      <span>c</span>
      <span>o</span>
      <span>m</span>
      <span>e</span>
    </h2>
    <div class="welcomeDiv text-center">
      <p class="text-center py-3">Explore our website to discover a world of possibilities.</p>
    </div>
  </div>

  <div class="my-container mx-auto">
    <div class="row g-4">
      <!-- Displaying Products -->
      <div class="col-md-4" *ngFor="let product of products">
        <div class="card">
          <!-- Product Image -->
          <img [src]="convertImageToBase64(product.imageName)" class="card-img-top" alt="Product Image">

          <div class="card-body">
            <!-- Product Title -->
            <h5 class="card-title">{{ product.title }}</h5>
            <!-- Product Price -->
            <p class="card-text">{{ utilityService.applyDiscount(product.price, product.offer.discount) | currency }}</p>
            <!-- Add to Cart Button -->
            <button class="btn btn-primary" [disabled]="!utilityService.isLoggedIn()" (click)="utilityService.addToCart(product)">Add to Cart<span *ngIf="!utilityService.isLoggedIn()" class="text-danger" class="btn btn-primary">(Login First)</span></button>

          </div>
        </div>
      </div>
    </div>
  </div>





















<!--
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-5">
      <div class="col">
        <div class="card">
          <img src="./assets/Images/15.png" class="card-img-top mb-3"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">IPhone 15 Pro Max</h5>
            <p class="card-text">The latest iPhone with advanced features.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/Images/20.png" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">MacBook Pro</h5>
            <p class="card-text">Powerful Mackbook pro for professionals.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <img src="./assets/Images/333.png" class="card-img-top"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">Dell XPS 15</h5>
            <p class="card-text">High-performance laptop with a stunning display.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div> -->
</section>
<section class="mt-5">
  <div id="slider" class="mt-5">
    <div class="welcome-container">
      <h2 class="welcome">
        <span>O</span>
        <span>F</span>
        <span>F</span>
        <span>E</span>
        <span>R</span>
        <span>S</span>
      </h2>
      <div class="welcomeDiv text-center">
        <p class="text-center py-3">Discover what's hot and trending in the world of electronics.</p>
      </div>
    </div>
    <div id="carouselExampleIndicators" class="carousel slide container" data-bs-ride="carousel">
      <div class="carousel-indicators">
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
          aria-current="true" aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
          aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
          aria-label="Slide 3"></button>
      </div>
      <div class="carousel-inner">
        <div class="carousel-item active">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="carousel-content">
                <h3>Christmas Offer</h3>
                <p>Spread the holiday cheer with our Christmas discounts!</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./assets/Images/13.png" class="d-block w-100" alt="Slide 1">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="carousel-content">
                <h3>Ramadan Offer</h3>
                <p>Special discounts during the holy month of Ramadan!</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./assets/Images/14.png" class="d-block w-100" alt="Slide 2">
            </div>
          </div>
        </div>
        <div class="carousel-item">
          <div class="row align-items-center">
            <div class="col-md-8">
              <div class="carousel-content">
                <h3>Eid Offer</h3>
                <p>Celebrate Eid with amazing deals and promotions!</p>
              </div>
            </div>
            <div class="col-md-4">
              <img src="./assets/Images/12.png" class="d-block w-100" alt="Slide 3">
            </div>
          </div>
        </div>
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
        data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</section>
<!--
<section class="py-5">
  <div class="welcome-container">
    <h2 class="welcome">
      <span>N</span>
      <span>E</span>
      <span>W</span>
      <span>&nbsp;</span>
      <span>A</span>
      <span>R</span>
      <span>R</span>
      <span>I</span>
      <span>V</span>
      <span>A</span>
      <span>L</span>
      <span>S</span>
    </h2>
    <div class="welcomeDiv text-center">
      <p class="text-center py-3">Discover what's hot and trending in the world of electronics.</p>
    </div>
  </div>
  <div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-5">
      <div class="col">
        <div class="card">
          <div class="img">
          </div> <img src="./assets/Images/12.png" class="card-img-top mb-5 mt-4"
            alt="...">
          <div class="card-body">
            <h5 class="card-title">AirPods Pro Max</h5>
            <p class="card-text"> High-fidelity, noise-canceling over-ear headphones.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img">
            <img src="./assets/Images/555.png" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">Samsung Galaxy Tab S8</h5>
            <p class="card-text">Premium Android tablet with a large AMOLED display.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="img">
            <img src="./assets/Images/666.png" class="card-img-top"
              alt="...">
          </div>
          <div class="card-body">
            <h5 class="card-title">iPad Air 5</h5>
            <p class="card-text">Versatile tablet with a powerful chip.</p>
          </div>
          <div class="cardbtn">
            <button type="button" class="btn btn-outline-light btn-lg">Shop Now</button>
          </div>
        </div>
      </div>
    </div>
  </div>

</section> -->
