<!-- Login Form -->
<form
  [formGroup]="loginForm"
  (ngSubmit)="login()"
  class="p-4 bg-light border rounded"
>
  <!-- Email -->
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />
    <div
      class="invalid-feedback d-block"
      *ngIf="
        loginForm.get('email')?.invalid &&
        (loginForm.get('email')?.dirty || loginForm.get('email')?.touched)
      "
    >
      <span *ngIf="loginForm.get('email')?.errors?.['required']"
        >Email is Required</span
      >
      <span *ngIf="loginForm.get('email')?.errors?.['email']"
        >Email is Invalid</span
      >
    </div>
  </div>

  <!-- Password -->
  <div class="mb-3">
    <label for="pwd" class="form-label">Password</label>
    <input
      type="password"
      class="form-control"
      id="pwd"
      formControlName="pwd"
    />
    <div
      class="invalid-feedback d-block"
      *ngIf="
        loginForm.get('pwd')?.invalid &&
        (loginForm.get('pwd')?.dirty || loginForm.get('pwd')?.touched)
      "
    >
      <span *ngIf="loginForm.get('pwd')?.errors?.['required']"
        >Password is Required</span
      >
      <span *ngIf="loginForm.get('pwd')?.errors?.['minlength']"
        >Password should be at least 6 and at the max 15 characters long.</span
      >
    </div>
  </div>

  <!-- Login Button -->
  <div class="mb-3">
    <button
      type="submit"
      [disabled]="loginForm.invalid"
      class="btn btn-dark btn-block"
    >
      Login
    </button>
  </div>

  <div class="text-center">
    <h5 class="text-danger" style="display: block">{{ message }}</h5>
  </div>
</form>
