<form
  [formGroup]="registerForm"
  (ngSubmit)="register()"
  class="p-4 bg-light border rounded"
>
  <!-- First Name and Last Name -->
  <div class="row mb-3">
    <div class="col">
      <label for="firstname" class="form-label">First Name</label>
      <input
        type="text"
        class="form-control"
        id="firstname"
        formControlName="firstName"
      />

      <!-- Errors -->
      <div
        class="invalid-feedback d-block"
        *ngIf="
          registerForm.get('firstName')?.invalid &&
          (registerForm.get('firstName')?.dirty ||
            registerForm.get('firstName')?.touched)
        "
      >
        <span *ngIf="registerForm.get('firstName')?.errors"
          >First Name is Required</span
        >
        <span *ngIf="registerForm.get('firstName')?.errors?.['minlength']"
          >First Name is too Short. At least 2 characters.</span
        >
        <span *ngIf="registerForm.get('firstName')?.errors?.['pattern']"
          >Name should start with an alphabet.</span
        >
      </div>
    </div>
    <div class="col">
      <label for="lastname" class="form-label">Last Name</label>
      <input
        type="text"
        class="form-control"
        id="lastname"
        formControlName="lastName"
      />

      <!-- Errors -->
      <div
        class="invalid-feedback d-block"
        *ngIf="
          registerForm.get('lastName')?.invalid &&
          (registerForm.get('lastName')?.dirty ||
            registerForm.get('lastName')?.touched)
        "
      >
        <span *ngIf="registerForm.get('lastName')?.errors?.['required']"
          >Last Name is Required</span
        >
        <span *ngIf="registerForm.get('lastName')?.errors?.['minlength']"
          >Last Name is too Short. At least 2 characters.</span
        >
        <span *ngIf="registerForm.get('lastName')?.errors?.['pattern']"
          >Name should start with an alphabet.</span
        >
      </div>
    </div>
  </div>

  <!-- Email -->
  <div class="mb-3">
    <label for="email" class="form-label">Email address</label>
    <input
      type="email"
      class="form-control"
      id="email"
      formControlName="email"
    />

    <!-- Errors -->
    <div
      class="invalid-feedback d-block"
      *ngIf="
        registerForm.get('email')?.invalid &&
        (registerForm.get('email')?.dirty || registerForm.get('email')?.touched)
      "
    >
      <span *ngIf="registerForm.get('email')?.errors?.['required']"
        >Email is Required</span
      >
      <span *ngIf="registerForm.get('email')?.errors?.['email']"
        >Email is Invalid.</span
      >
    </div>
  </div>

  <!-- Address -->
  <div class="mb-3">
    <label for="address" class="form-label">Address</label>
    <input
      type="text"
      class="form-control"
      id="address"
      formControlName="address"
    />

    <!-- Errors -->
    <div
      class="invalid-feedback d-block"
      *ngIf="
        registerForm.get('address')?.invalid &&
        (registerForm.get('address')?.dirty ||
          registerForm.get('address')?.touched)
      "
    >
      <span *ngIf="registerForm.get('address')?.errors?.['required']"
        >Address is Required</span
      >
    </div>
  </div>

  <!-- Mobile -->
  <div class="mb-3">
    <label for="mobile" class="form-label">Mobile</label>
    <input
      type="text"
      class="form-control"
      id="mobile"
      formControlName="mobile"
    />

    <!-- Errors -->
    <div
      class="invalid-feedback d-block"
      *ngIf="
        registerForm.get('mobile')?.invalid &&
        (registerForm.get('mobile')?.dirty ||
          registerForm.get('mobile')?.touched)
      "
    >
      <span *ngIf="registerForm.get('mobile')?.errors?.['required']"
        >Mobile is Required</span
      >
    </div>
  </div>

  <!-- Password and Repeat Password -->
  <div class="row">
    <div class="col mb-3">
      <label for="pwd" class="form-label">Password</label>
      <input
        type="password"
        class="form-control"
        id="pwd"
        formControlName="pwd"
      />

      <!-- Errors -->
      <div
        class="invalid-feedback d-block"
        *ngIf="
          registerForm.get('pwd')?.invalid &&
          (registerForm.get('pwd')?.dirty || registerForm.get('pwd')?.touched)
        "
      >
        <span *ngIf="registerForm.get('pwd')?.errors?.['required']"
          >Password is Required</span
        >
        <span
          *ngIf="
            registerForm.get('pwd')?.errors?.['minlength'] ||
            registerForm.get('pwd')?.errors?.['maxlength']
          "
          >Password should be at least 6 and at the max 15 characters
          long.</span
        >
      </div>
    </div>
    <div class="col mb-3">
      <label for="rpwd" class="form-label">Repeat Password</label>
      <input
        type="password"
        class="form-control"
        id="rpwd"
        formControlName="rpwd"
      />

      <!-- Errors -->
      <div
        class="invalid-feedback d-block"
        *ngIf="
          registerForm.get('rpwd')?.invalid &&
          (registerForm.get('rpwd')?.dirty || registerForm.get('rpwd')?.touched)
        "
      >
        <span *ngIf="registerForm.get('rpwd')?.errors?.['required']"
          >Repeat Password is Required</span
        >
        <span *ngIf="invalidRPWD">Doesn't match with Password!</span>
      </div>
    </div>
  </div>

  <!-- Create Account Button -->
  <div>
    <button
      type="submit"
      class="d-block mx-auto btn btn-dark"
      [disabled]="registerForm.invalid"
    >
      Create Account
    </button>
  </div>

  <div class="mt-3 text-center">
    <!-- Any additional content can be added here -->
  </div>
</form>
